*{
    margin: 0;
    padding: 0;
   
}

body{
    padding: 0 15px 0 15px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 15px;
}

input{
    background-color: whitesmoke;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

button{
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border-color: green;
    background-color: green;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
}
.container{
    background-color: grey;
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: center;

}

.card1 {
    background-color: white;
    width: 350px;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
   text-align: center;

}
.container2{
    display: inline-flex;
    width: auto;
    flex-wrap: wrap;
    gap: 20px;
}
.col-sm-6{
    flex: 1 1 50%
}
#nossa12{
    padding-left: 120px;
    margin-bottom: 20px;
    
}
.menu{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
}
.menu a {
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: color 0.3s;
}
.menu a:hover{
    color: white;
    background-color: #555;
}

#formulario{
    padding-left: 120px;
    margin-bottom: 20px;

}
#Nome1234{
    padding-left: 500px;
}
#imagem {
    padding-left: 470px;
    
}

@media (max-width: 768px){
    .container{
        flex-direction: column;
    }
    .card1, .card2, .card3 {
        width: 100%;
        margin: 10px 0;
        }
}

    @media (min-width: 768px){
        .container2 {
        flex-direction: row;
        align-items: flex-start;

    }
}
    

    
    


.imagem1 img {
    width: 100%;
    border-radius:10px;

}
.imagem5{
    padding-left: 20px;
    margin-top: 10px;
    
}
.card1 button {
    border-radius: 10px;
} 
   

.card2 {
    background-color: white;
    width: 350px;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    text-align: center;


}
.card3 {
    background-color: white;
    width: 350px;
    padding: 20px;
    margin: 20px;
    border-radius: 20px; 
    text-align: center;


}
.card1 h4 {
    color:brown;

}
#nome345{
    color: yellow;
    background-color: darkblue;
}
#nome345 h2{
    padding-left: 570px;
        
}

